@model MenuExcelFormViewModel
@{
	ViewData["Title"] = "Добави менюта с excel";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="BrandId"></label>
				<select asp-for="BrandId" class="form-control">
					@foreach (var brand in Model.Brands)
					{
						<option value="@brand.Id">@brand.BrandName</option>
					}
				</select>
				<span asp-validation-for="BrandId" class="small text-danger"></span>
			</div>
			<div class="align-content-sm-start mt-2">
				<input type="file" name="excelFile" value="Прикачи файл" />
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Запази" />
			</div>
		</form>
		<h3 class="text-md-center text-danger">Внимание!</h3>
		<p class="text-md-center text-danger">
			За да прикачите успешно Вашите менюта с артикулите им е нужно да спазвате следната структура
			на excel файла:
			<br />
			1) Всяко меню в отделна таблица с артикулите му
			<br />
			2)Размерът на таблицата е 5 колони и колко са Ви необходими редове
			<br />
			3)На първият ред въвеждате 3 клетки, като първоот ляво на дясно е типът на менюто, второ типът на храната и трето описанието
			<br />
			4) На следващите редове първо е категорията на артикула, след това името, цена, опсаиние и линк към снимка.
			<br />
			5) Всички данни трябва да са във текстов формат. При неправилно въведени данни не гарантираме, че ще бъдат оправени и качени правилно!
		</p>
	</div>
</div>