@model MenuExcelFormViewModel
@{
	ViewData["Title"] = "Добави менюта с excel";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label asp-for="BrandId"></label>
				<select asp-for="BrandId" class="form-control">
					@foreach (var brand in Model.Brands)
					{
						<option value="@brand.Id">@brand.BrandName</option>
					}
				</select>
				<span asp-validation-for="BrandId" class="small text-danger"></span>
			</div>
			<div class="align-content-sm-start mt-2">
				<input type="file" name="excelFile" value="Прикачи файл" />
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Запази" />
			</div>
		</form>
	</div>
</div>