@model RestaurantFormViewModel
@{
	ViewData["Title"] = "Добави ресторант";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<partial name="_RestaurantFormPartial" model="@Model" />
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}