@using static DishHunter.Common.GeneralApplicationConstants;
@using DishHunter.Services.Data.Interfaces;
@using DishHunter.Web.Infrastructrure.Extensions;
@inject IRestaurantOwnerService ownerService;
@inject IAdminService adminService;
@{
    bool isOwner = await ownerService.OwnerExistsByUserIdAsync(User.GetId()!);
    bool isUserAdmin = await adminService.IsUserAdminByUserId(User.GetId()!);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DishHunter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DishHunter.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <partial name="_NotificationPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DishHunter</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Всички
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Brand" asp-action="All">Вериги</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="All">Ресторанти</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="MenuItem" asp-action="All">Артикули</a></li>
                                    @if (isUserAdmin)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="All">Категории</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Settlement" asp-action="All">Населени места</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Добави
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Brand" asp-action="Add">Верига</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="AddSingle">Ресторант</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="AddMany">Много ресторанти</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="AddSingle">Меню</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="AddMany">Много менюта</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="MenuItem" asp-action="AddSingle">Артикул</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="MenuItem" asp-action="AddMany">Много артикули</a></li>
                                </ul>
                            </li>
                            @if (isOwner)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Моите
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Brand" asp-action="Mine">Вериги</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="Mine">Ресторанти</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Mine">Менюта</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="MenuItem" asp-action="Mine">Артикули</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                    @if ((User?.Identity?.IsAuthenticated ?? false) && !isOwner && !isUserAdmin)
                    {
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Become">Стани ресторантьор</a>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; DishHunter @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($"- {DateTime.UtcNow.Year}")
            }
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
