@model MenuItemFormViewModel
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Свинска вратна пържола">
				<span asp-validation-for="Name" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price"></label>
				<input asp-for="Price" class="form-control" placeholder="6.00">
				<span asp-validation-for="Price" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FoodCategory"></label>
				<input asp-for="FoodCategory" class="form-control" placeholder="Меса">
				<span asp-validation-for="FoodCategory" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageUrl"></label>
				<input asp-for="ImageUrl" class="form-control" placeholder="...https:DishHunter/meat.png">
				<span asp-validation-for="ImageUrl" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" rows="4" class="form-control"
						  placeholder="Свинска вратна пържола, запечатана на тиган....."></textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MenuId"></label>
				<select asp-for="MenuId" class="form-control">
					@foreach (var menu in Model.Menus)
					{
						<option value="@menu.Id">@menu.MenuType</option>
					}
				</select>
				<span asp-validation-for="MenuId" class="small text-danger"></span>
			</div>
			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Запази" />
			</div>
		</form>
	</div>
</div>